@import "../../global.scss";

.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile{
        flex-direction: column;
    }
    
    h1{
        color: white;
        text-align: center;
        margin-bottom: 50px;

        @include mobile{
            margin-bottom: 20px;
            margin-top: 100px;
        }

        @include tablet{
            margin-left: 150px;
        }
    }

    h2{
        color: $mainColor;
        font-size: 15px;
    }

    h3{
        color: white;
        font-size: 15px;
    }

    p{
        color: white;
        font-size: 12px;
    }

    .left{

        @include pc{
            flex: 0.5;
        }

        @include tablet{
            transform: scale(130%);
        }

        .timpeak{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: $secColor, $alpha: 0.6);
            border-radius: 15px;
            width: 450px;
            margin-left: 10vw;

            @include mobile{
                flex-direction: column;
                width: 95vw;
                margin-left: 0px;

                img{
                    margin-top: 20px;
                }
            }

            @include tablet{
                margin-left: 150px;
            }

            &:hover{
                background-color: rgba($color: $secColor, $alpha: 1.0);
                transition: all 0.2s ease;
            }
            
            .lefty{
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 125px;
                    height: 125px;
                    border-radius: 15px;
                    margin-right: 20px;
                }
            }

            .righty{
                display: flex;
                width: 250px;
                height: 250px;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: justify;
                justify-content: center;
                align-items: center;

                @include mobile{
                    height: 180px;
                }

                p{
                    margin-top: 10px;
                }
            }
        }
    }
    .right{
        flex: 0.5;
    }
}