@import "./global.scss";
.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        /*background-color: midnightblue;*/
        background-image: url(../src/assets/Manouk.png);
        background-size: cover;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{
            display: none; //for other browsers
        }

        @include mobile{
            background-position-x: 50%;
        }

        @include tablet{
            background-position-x: 50%;
            top: 120px;
            height: 91.2vh;
        }

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
            backdrop-filter: grayscale(100%) brightness(80%) contrast(110%);
        }
    }
}